body{
    background-image: linear-gradient(
  90deg,
  hsl(0deg 0% 0%) 0%,
  hsl(0deg 100% 4%) 15%,
  hsl(0deg 100% 8%) 26%,
  hsl(0deg 100% 12%) 35%,
  hsl(0deg 97% 14%) 42%,
  hsl(0deg 95% 17%) 47%,
  hsl(0deg 94% 19%) 53%,
  hsl(0deg 94% 13%) 62%,
  hsl(0deg 94% 6%) 76%,
  hsl(0deg 0% 0%) 100%);
    font-family: Inter;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}
.card{
    /* width: 100vw;
    height: 100vh; */
    /*This is deemed as unnecessary because it is causing scroll bars.*/
}
.card, .profile-pic, .name, .location, .description, .links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.container{
    background-color: hsl(0, 0%, 12%);
    background: rgba(0,0,0, 0.5);
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
    min-width: 300px;
}
img{
    border-radius: 150%;
    width: 100px;
}
.name{
    margin-top: 30px;
    font-size: 1.7em;
    font-weight: 500;
}
.location{
    margin-top: -10px;
    color: #ff6868;
    font-weight: 600;
}
.description{
    margin-top: 25px;
}
.links{
    display: grid;
    margin: 8px;
    text-align: center;
}
.background{
    margin: 10px;
    background-color: rgba(51,51,51, 0.5);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
    min-width: 300px;
}
.Instagram{
    margin-bottom: 20px;
}
.background:hover{
    cursor: pointer;
    background-color: #950101;
    transition: 0.3s;
}
.background:active{
    background-color: hsl(0, 0%, 8%);
    color: #950101;
}